.popup__user {
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 0 0 9px;
    margin-bottom: 10px;
}

.popup__user:last-of-type {
    margin-bottom: 10px;
}

.popup__user:focus {
    box-shadow: none;
}
