.header__logo{
    background-image: url(../../../images/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 33px;
    padding-bottom: 41px;
    width: 142px;
}


 
 @media screen and (max-width: 320px) {
    .header__logo {
       max-width: 104px;
       max-height: 24px;
       padding-bottom: 32px;
       margin-left: 27px;
    }
 }

 