.profile__add-button {
    background-image: url(../../../images/plus_header.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    border: 2px solid white;
    height: 50px;
    width: 150px;
    margin-left: auto;
    padding: 0;
}

@media screen and (max-width: 710px) {
   .profile__add-button {
       margin-left: 0;
       margin-top: 30px;
       width: 282px;
       background-image: url(../../../images/small__plus.svg);
   }
}

@media screen and (max-width: 320px) {
   .profile__add-button {
       width: 282px;
   }
}