.popup__close-button {
    background-color: transparent;
    background-image: url(../../../images/Close\ Icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    height: 32px;
    width: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.popup__close-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 534px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        right: 0;
    }
}