.popup__save-button {
    width: 100%;
    min-height: 50px;
    background-color: black;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.popup__save-button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 320px) {
    .popup__save-button {
        font-size: 14px;
        line-height: 17px;
    }
}